:root {
  --black: #2d2e2e;
  --dark-green: #3a4f39;
  --yellow: #f8d254;
  --green: #a0cd9e;
  --grey: #ababab;
  --light-green: #eff6f3;
  --light-grey: #f6f6f6;
  --white: #ffffff;

  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

html {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
}

.menu-title {
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}

b,
strong {
  font-weight: 600;
}

button {
  font-size: 18px;
  font-weight: 500;
}

.caption {
  font-size: 12px;
}

button {
  display: inline-flex;
  padding: 17px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-primary {
  color: var(--white);
  background: var(--Dark-green-buttons, #3A4F39);
}

.btn-primary:hover {
  background: #283A27;
}

.btn-secondary {
  color: var(--dark-green);
  border: 1px solid var(--Dark-green-buttons, #3A4F39);
  background: var(--White-buttons, #FFF);
}

.btn-secondary:hover {
  border: 1px solid #213220;
  background: var(--White-background, #FFF);
}

.btn-large {
  height: 56px;

}

.btn-middle {
  width: 140px;
  height: 51px;
}

.btn-small {
  width: 124px;
  height: 43px;
}