:root {
  --black: #2d2e2e;
  --dark-green: #3a4f39;
  --yellow: #f8d254;
  --green: #a0cd9e;
  --grey: #ababab;
  --light-green: #eff6f3;
  --light-grey: #f6f6f6;
  --white: #ffffff;
}

html {
  height: 100%;
  width: 100%;
}
